@tailwind base;
@tailwind components;
@tailwind utilities;

// SCSS 변수
$primary-color: #14171A;
$secondary-color: #14271A;

// 믹스인
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

